.container
	.filter-top
		input.filter__min
		input.filter__max
	input.js-range-slider(type="text")






	.tovar
		.price 12
	.tovar
		.price 1512
	.tovar
		.price 11243
	.tovar
		.price 16326
	.tovar
		.price 12343
	.tovar
		.price 1415